.section_contact{
    margin-top: 450px;
    height: 900px;
    width: 100%;
  
    background-color: white;
}

.bt_contact{
    background-color: #fefefe;
    height: 460px;

}



.title_odd_contact{
    margin-top: 180px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
   text-align: center;
   background: linear-gradient(45deg,  #F58BFC,#92E8FA);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;  

}



.bullet_contact{
    margin-top:180px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
    text-align: center;
    color: #0d0d0d;}


    .form-container {
        width: 40%;
        margin: 0 auto;
    }

    .form-control{
        padding: 20px;
        border-radius: 10px !important;
        border: 2px solid #0d0d0d; 
        
        ;
        
        
    }

    .form-label{
    font-family: font_body_bold;
    float: left;
    margin-top: 20px;
    }

    button, [type='button'], [type='reset'], [type='submit']{
        margin-top: 20px;
        width: 40%;
        color: #0d0d0d;
        padding: 20px;
        border-radius: 30px;

    }