.section_contact{
    margin-top: 450px;
    height: 900px;
    width: 100%;
  
    background-color: white;
}

.btn_contact button{
    border: none;
    margin-top: 30px;
    width: 40%;
    background: linear-gradient(45deg,  #F58BFC,#92E8FA);
    border-radius: 60px;
    height: 60px;
    color: #0d0d0d;
 



    &:hover{
    
        
        padding: 1rem;
        position: relative;
        background: linear-gradient(to right, #92E8FA, #F58BFC);
        padding: 3px;

        
    


    }

}



.title_odd_contact{
    margin-top: 180px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
   text-align: center;
   background: linear-gradient(45deg,  #F58BFC,#92E8FA);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;  

}



.bullet_contact{
    margin-top:180px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
    text-align: center;
    color: #0d0d0d;}


    .form-container {
        width: 40%;
        margin: 0 auto;
    }

    .form-control{
        padding: 20px;
        border-radius: 10px !important;
        border: 1px solid #0d0d0d; 
        
        &:focus {
    
 border: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
        }

        
        
        
    }

    .form-label{
    font-family: font_body_bold;
    float: left;
    margin-top: 20px;
    }

   

    Form input {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        display: block;
        width: 100%;
        border: solid 1px #0d0d0d;
        padding: 20px;
        border-radius: 10px;
        }

        Form input:focus {
            border: 5px solid;
            border-image-slice: 1;
            border-width: 5px;
        }

        // MODAL

        .swal-modal{
            background-color: #0d0d0d;
            color: #fefefe;
    font-family: font_body_bold;
    border-radius: 30px;

        }

        .swal-icon--success:after, .swal-icon--success:before{
            background-color: #0d0d0d;
            color: #fefefe;
            


        }

        .swal-title, .swal-text{
            color: #fefefe;
            font-family: font_body_bold;
        }

        .swal-button{
            color: #fefefe;
            font-family: font_body_bold;
   background: linear-gradient(45deg,  #F58BFC,#92E8FA);

        }

        .swal-icon img {
            max-width: 60%;
            max-height: 60%;
            display: block;
            margin: auto;
        }