.section_copy{
   
    height: 20px;

h2{
    margin-top: 80px;
    margin-bottom: 30px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 20px;
   text-align: center;
   background: linear-gradient(45deg,  #F58BFC,#92E8FA);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;  
}


}

