
.container{
    height: 260px;
}
.section_enfoque{
    background-color: #0d0d0d;
    

}



.title_odd_enfoque{
    margin-top: 80px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
   text-align: center;
   background: linear-gradient(45deg,  #F58BFC,#92E8FA);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;  

}

.txt_odd_enfoque{
    margin-top: 80px;
    letter-spacing: 1px;
    font-family: font_body;
    font-size: 24px;
    text-align: center;
    color: #fefefe;
}

.bullet{
    margin-top:80px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
    text-align: center;
    color: #fefefe;
}

.sphera img {
position: absolute; 
max-width: 150px;
top: 970px;
left: 0;
right: 0;
bottom: 0;
margin: auto;
   
}



