.react-chatbot-kit-chat-container {
    position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  border-radius: 30px;
  box-shadow: 0px 3px 16px 0px rgba(217, 212, 212, 0.6), 0 3px 1px -2px rgba(107, 107, 107, 0.2), 0 1px 5px 0 rgba(156, 153, 153, 0.12);
}

.react-chatbot-kit-chat-inner-container {
    background-image: linear-gradient(to right bottom, #0d0d0d53, #1c1d1e, #282c2d23, #373c3a90, #4a4c46a0);
    padding: 20px;
  border-radius: 30px;
  color: #fefefe;

    
}

.react-chatbot-kit-chat-header {
}

.react-chatbot-kit-chat-input-container {
}

.react-chatbot-kit-chat-message-container {
}

.react-chatbot-kit-chat-input {
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-btn-send {
}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
}

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-message {
    margin-bottom: 10px;

}

.react-chatbot-kit-chat-bot-message-arrow {
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}