.Seo_banner{
    background-image: url(../img/Seo/bannerseo.webp);
    height: 786px;
    width: 100vw;
    background-repeat: no-repeat;
    margin-top: -60px;
    object-fit: cover;
}

.Section2_Seo{
    background-color: #fefefe;
    height: 1000px;

    h1{
        padding-top: 80px;
        letter-spacing: 10px;
        font-family: font_title;
        font-size: 40px;
        text-align: center;
        background: linear-gradient(351deg,  #F58BFC,#92E8FA);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;  
        text-align: center;
        margin: 0;
    }

    .bullet_dev{
        color: #0d0d0d;
    }

    p{
        text-align: center;
        display: block;
        margin: auto;
        padding-top: 100px;
        max-width: 70ch;
    }

    .Cnt_solutions{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        margin-top: 40px;
    }

    img{
        max-width: 90%;
        margin: auto;
        display: block;
        
    }


}