.Dev_Banner{
    background-image: url(../img/Dev/bannerdev.webp);
    height: 786px;
    width: 100vw;
    background-repeat: no-repeat;
    margin-top: -60px;
}

.sphera_dev img {
    max-width: 180px;
    display: block;
    margin: auto;
    margin-top: 700px;
    
       
    }

    .Section1_Dev{
        background-color: #fefefe;
        height: 700px;
        
       

        p{  
            text-align: center;
            display: block;
            margin: auto;
            padding-top: 100px;
            max-width: 70ch;
        }

        .img_Dev img
        {
            padding-top: 50px;
            display: block;
            margin: auto;
            
            
        }

        h1{
            padding-top: 80px;
            letter-spacing: 10px;
            font-family: font_title;
            font-size: 40px;
            text-align: center;
            background: linear-gradient(351deg,  #F58BFC,#92E8FA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;  
            text-align: left;
            margin: 0;

        }

        .Dev_p2{
        padding-top: 130px;
         text-align: justify;
         max-width: 50ch;
         margin: 0;

        }

    }

    .Section2_Dev{
        background-color: #fefefe;
        height: 1000px;

        h1{
            padding-top: 80px;
            letter-spacing: 10px;
            font-family: font_title;
            font-size: 40px;
            text-align: center;
            background: linear-gradient(351deg,  #F58BFC,#92E8FA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;  
            text-align: center;
            margin: 0;
        }

        .bullet_dev{
            color: #0d0d0d;
        }

        p{
            text-align: center;
            display: block;
            margin: auto;
            padding-top: 100px;
            max-width: 70ch;
        }

        .Cnt_solutions{
            margin: 0 auto;
            display: flex;
            justify-content: center;
            column-gap: 10px;
            margin-top: 40px;
        }

        img{
            max-width: 90%;
            margin: auto;
            display: block;
            
        }

    }

.Section3_Dev{
    background-color: #0d0d0d;
    margin-top: 30px;
    height: 550px;
    


    p{
        text-align: center;
        display: block;
        margin: auto;
        padding-top: 50px;
        max-width: 70ch;
    }

    .img_rectangle img
        {
            
            padding-top: 90px;
            display: block;
            margin: auto;
        }
}

.Section4_Dev{
    background-color: #fefefe;
    margin-top: -150px;
    height: 800px;
    

    img{
        padding-top: 100px;
        max-width: 30%;
        display: block;
        margin: auto;
        
    }

    p{
        text-align: center;
        display: block;
        margin: auto;
        padding-top: 250px;
        max-width: 70ch;
    }

    .carousel .control-next.control-arrow:before{
        content: url(../img/Dev/nextarrow.svg);
        background: none;
        
    }

    .carousel.carousel-slider .control-arrow:hover{
        content: url(../img/Dev/nextarrow.svg);
        background: none;
        zoom: 1.1;
    }

    .carousel .control-prev.control-arrow:before{
        content: url(../img/Dev/prevarrow.svg);
        background: none;
    }

    

    .carousel .slider-wrapper{
        width: 80%;
    }

}

