.mobile {
  display: none;
}

.desktop {
  display: block;
}

.desktop-flex {
  display: flex;
}

.logo-navbar {
  width: 40%;
}

.img_rectangle.col {
  display: none;
}

@media (max-width: 767px) {
  .logo-navbar {
    width: 5rem;
  }
  .carousel.carousel-slider .control-arrow {
    margin-top: 100% !important;
  }
  .carousel.carousel-slider {
    height: auto;
  }
  .Section4_Dev img {
    max-width: 50% !important;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .navbar-toggler-icon {
    background-image: url("../img/Svg/toggler-mobile.svg");
  }
  .navbar-toggler {
    padding: 0px !important;
  }
  .navbar-collapse {
    background-color: #0d0d0d;
    z-index: 1;
  }
  .navbar-links {
    display: none !important;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .mt-50 {
    margin-top: 30%;
  }

  .navbar-logo img {
    width: 100px;
    margin-left: 0 !important;
  }

  .bg_experiencia {
    background-color: #fefefe;
    height: 40vh;
  }

  .container {
    height: auto;
  }

  .Cnt_card {
    margin-top: -40%;
  }

  .sphera img {
    top: 70%;
  }

  .footer-line {
    margin-bottom: 5%;
    margin-top: 1%;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
  }

  .btn_contact button {
    margin-bottom: 10%;
  }

  .form-control {
    padding: 10px;
  }

  .tel p {
    text-align: center;
    margin-top: unset;
    color: #fefefe;
    font-family: font_body;
    margin-top: 2%;
  }

  .direc p {
    text-align: center;
    margin-top: unset;
    color: #fefefe;
    font-family: font_body;
  }

  .footer-sm {
    max-width: 30%;
    display: flex;
    margin: -5%;
    margin-bottom: 1%;
    float: none;
    margin-left: 27%;
    align-items: center;
  }

  .footer-logo {
    margin-top: 30px;
    max-width: 20%;
    margin-left: 39%;
  }

  .txt_odd_enfoque {
    margin-top: 5%;
  }

  .section_copy h2 {
    font-size: 15px;
    letter-spacing: 1px;
  }

  .card {
    width: 100%;
    margin-top: 5%;
  }

  .Cnt_btn {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .hidden-content p {
    font-size: 12px;
  }

  .btn_oddsee {
    margin-top: 15%;
    padding: 15px 65px;
  }

  .title_odd_contact {
    margin-top: 50%;
  }

  .bullet_contact {
    margin-top: 210%;
  }

  button .Next {
    margin-left: 5%;
  }

  .carousel {
    .btn_slide Button {
      position: relative;
      width: 240px;
      height: 70px;
      margin: 0 10px;
      border: 5px solid transparent;
    }

    .btn_primary {
      font-family: font_body;

      border-radius: 90px;
      background: #000;
      background-clip: padding-box;
      margin-top: 10% !important;
    }
    .btn_primary:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -2px;
      border-radius: 90px;
      background: linear-gradient(to right, #f58bfc, #92e8fa);
    }

    img {
      width: 50% !important;
      object-fit: cover;
    }

    h1 {
      width: 400px;
      letter-spacing: 3px;
      font-size: 20px;

      .dd {
        width: 400px;
        letter-spacing: 4px;

        font-size: 17px;
      }
    }

    video {
      width: 100vw;
      height: 70vh;
      max-height: 100vh;
      object-fit: cover;
    }

    p {
      width: 400px;
      margin-top: 10px;
      font-size: 10px;
      letter-spacing: 10px;
      font-family: font_body;
      text-transform: uppercase;
    }

    .title_odd {
      letter-spacing: 10px;
      font-family: font_title;
      color: $odd_TextColorPrimary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .thumbs-wrapper {
      display: none;
    }

    .carousel-status {
      display: none;
    }
  }

  .o-mt {
    margin-top: -50%;
  }

  .title-clientes {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10%;
  }

  //ENFOQUE//

  .contacto {
    margin-top: 5px;
    width: 230px;
    letter-spacing: 1px;
    font-size: 26px;
  }

  .enfoque-title {
    margin-top: 30%;
    width: 230px;
    letter-spacing: 1px;
    font-size: 26px;
  }

  .bullet {
    margin-top: 60px;
    letter-spacing: 10px;
    font-family: font_title;
    font-size: 40px;
    text-align: center;
    color: #fefefe;
  }

  .txt_odd_enfoque p {
    font-size: 15px;
  }
  .btn_odd {
    display: inline-block;
    cursor: pointer;
    outline: 0;
    white-space: nowrap;
    margin: 15px;
    padding: 15px 35px;
    line-height: 20px;
    background-color: #1d1f20;
    margin-top: 20%;
  }
  .button-mobile-principal {
    border-radius: 96px;
    border: 3px solid #f58bfc;
    background: rgba(255, 255, 255, 0.05);
    font-size: 16px !important;
  }
  .title-mobile-principal {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 3.2px;
    background: linear-gradient(91deg, #f58bfc 5.82%, #92e8fa 99.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: font_title;
  }
  .paragraph-mobile-principal {
    color: #fff !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 16px !important;
    letter-spacing: 5px !important;
    width: 90% !important;
    margin-left: 5% !important;
    min-height: 200px !important;
    margin-top: 10% !important;
  }
  .mt-10 {
    margin-top: 10rem !important;
  }
  .carousel-indicators {
    bottom: -10%;
  }
  .section_contact {
    margin-top: 200px;
  }
  .text-exp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  .titulo-experencia {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 2px;
    font-family: font_title;
    background: linear-gradient(91deg, #f55eff 5.85%, #4ed5f1 90.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  nav {
    height: auto;
  }
  .desktop-flex {
    display: none;
  }
  .img_rectangle.col {
    display: none;
  }
}

// @media (min-width: 768px) {
//   .desktop {
//     display: block;
//   }

//   .mobile {
//     display: none;
//   }
// }
