


.carousel_solutions {
    
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    p{
      text-align: left;
      padding: 30px;
    }
    

 

  
    .card-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      height: 750px;

      h2{
        text-align: left;
       

      }

    }
  
    .style1 {
      filter: drop-shadow(5px 5px 10px #000);

      background-color: #0d0d0d;
      height:650px;
      width: 33.33%;
      padding: 10px;
      text-align: center;
  
      img {
        margin: 0 auto;
        max-width: 80%;
        height: auto;
        text-align: center;
      }
  
      h2 {
        padding: 0px 100px 0px 100px;
        margin-top: 20px;
        letter-spacing: 2px;
        font-family: font_title;
        font-size: 30px;
        text-align: center;
        background: linear-gradient(45deg,  #203010, #99BB00);
        background-clip: text;
       -webkit-background-clip: text;
        color: transparent;  

        &:hover{
       
       color: white;
        }

      }
  
      p {
        color: #fefefe;
        margin-top: 5px;
        font-family: font_body;
        letter-spacing: 1px;
        text-transform: none;
        

      }
  
      a {
        color: #fefefe;
        border-radius: 50px;
        padding: 20px;
        display: block;
        margin: auto;
        text-align: center;
        width: 50%;
        border: solid 2px white;
        display: block;
        margin-top: 15px;
      }


      &:hover img {
        content: url('../img/Gif/dev.gif');
        max-width: 100%;
      }

      }

      // FIGURE 2

      .style2 {
        filter: drop-shadow(5px 5px 10px #000);
  
        background-color: #0d0d0d;
        height:650px;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    
        img {
          margin: 0 auto;
          max-width: 80%;
          height: auto;
          text-align: center;
        }
    
        h2 {
          padding: 0px 100px 0px 100px;
          margin-top: 20px;
          letter-spacing: 2px;
          font-family: font_title;
          font-size: 30px;
          text-align: center;
          background: linear-gradient(45deg,  #F2E41B, #F2911B);
          background-clip: text;
         -webkit-background-clip: text;
          color: transparent;  
  
          &:hover{
         
         color: white;
          }
  
        }
    
        p {
          color: #fefefe;
          margin-top: 5px;
          font-family: font_body;
          letter-spacing: 1px;
          text-transform: none;
  
        }
    
        a {
          color: #fefefe;
          border-radius: 50px;
          padding: 20px;
          display: block;
          margin: auto;
          text-align: center;
          width: 50%;
          border: solid 2px white;
          display: block;
          margin-top: 15px;
        }
  
  
        &:hover img {
          content: url('../img/Gif/seo0.gif');
          max-width: 80%;
        }
  
        }


        // FIGURE 3

      .style3 {
        filter: drop-shadow(5px 5px 10px #000);
  
        background-color: #0d0d0d;
        height:650px;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    
        img {
          margin: 0 auto;
          max-width: 80%;
          height: auto;
          text-align: center;
        }
    
        h2 {
          padding: 0px 100px 0px 100px;
          margin-top: 20px;
          letter-spacing: 2px;
          font-family: font_title;
          font-size: 30px;
          text-align: center;
          background: linear-gradient(45deg,  #EB886C, #D172F2);
          background-clip: text;
         -webkit-background-clip: text;
          color: transparent;  
  
          &:hover{
         
         color: white;
          }
  
        }
    
        p {
          color: #fefefe;
          margin-top: 5px;
          font-family: font_body;
          letter-spacing: 1px;
          text-transform: none;
  
        }
    
        a {
          color: #fefefe;
          border-radius: 50px;
          padding: 20px;
          display: block;
          margin: auto;
          text-align: center;
          width: 50%;
          border: solid 2px white;
          display: block;
          margin-top: 15px;
        }
  
  
        &:hover img {
          content: url('../img/Gif/tagg.gif');
          max-width: 100%;
        }
  
        }


        // FIGURE 4

      .style4 {
        filter: drop-shadow(5px 5px 10px #000);
  
        background-color: #0d0d0d;
        height:650px;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    
        img {
          margin: 0 auto;
          max-width: 80%;
          height: auto;
          text-align: center;
        }
    
        h2 {
          padding: 0px 100px 0px 100px;
          margin-top: 20px;
          letter-spacing: 2px;
          font-family: font_title;
          font-size: 30px;
          text-align: center;
          background: linear-gradient(45deg,  #5852f2, #171640);
          background-clip: text;
         -webkit-background-clip: text;
          color: transparent;  
  
          &:hover{
         
         color: white;
          }
  
        }
    
        p {
          color: #fefefe;
          margin-top: 5px;
          font-family: font_body;
          letter-spacing: 1px;
          text-transform: none;
  
        }
    
        a {
          color: #fefefe;
          border-radius: 50px;
          padding: 20px;
          display: block;
          margin: auto;
          text-align: center;
          width: 50%;
          border: solid 2px white;
          display: block;
          margin-top: 15px;
        }
  
  
        &:hover img {
          content: url('../img/Gif/it0.gif');
          max-width: 100%;
        }
  
        }


         // FIGURE 5

      .style5 {
        filter: drop-shadow(5px 5px 10px #000);
  
        background-color: #0d0d0d;
        height:650px;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    
        img {
          margin: 0 auto;
          max-width: 70%;
          height: auto;
          text-align: center;
        }
    
        h2 {
          padding: 0px 100px 0px 100px;
          margin-top: 20px;
          letter-spacing: 2px;
          font-family: font_title;
          font-size: 30px;
          text-align: center;
          background: linear-gradient(45deg,  #1D54A8, #5E9FFF);
          background-clip: text;
         -webkit-background-clip: text;
          color: transparent;  
  
          &:hover{
         
         color: white;
          }
  
        }
    
        p {
          color: #fefefe;
          margin-top: 5px;
          font-family: font_body;
          letter-spacing: 1px;
          text-transform: none;
  
        }
    
        a {
          color: #fefefe;
          border-radius: 50px;
          padding: 20px;
          display: block;
          margin: auto;
          text-align: center;
          width: 50%;
          border: solid 2px white;
          display: block;
          margin-top: 15px;
        }
  
  
        &:hover img {
          content: url('../img/Gif/dig0.gif');
          max-width: 100%;
        }
  
        }
  


         // FIGURE 6

      .style6 {
        filter: drop-shadow(5px 5px 10px #000);
  
        background-color: #0d0d0d;
        height:650px;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    
        img {
          margin: 0 auto;
          max-width: 70%;
          height: auto;
          text-align: center;
        }
    
        h2 {
          padding: 0px 100px 0px 100px;
          margin-top: 20px;
          letter-spacing: 2px;
          font-family: font_title;
          font-size: 30px;
          text-align: center;
          background: linear-gradient(45deg,  #A62E38, #260E1E);
          background-clip: text;
         -webkit-background-clip: text;
          color: transparent;  
  
          &:hover{
         
         color: white;
          }
  
        }
    
        p {
          color: #fefefe;
          margin-top: 5px;
          font-family: font_body;
          letter-spacing: 1px;
          text-transform: none;
  
        }
    
        a {
          color: #fefefe;
          border-radius: 50px;
          padding: 20px;
          display: block;
          margin: auto;
          text-align: center;
          width: 50%;
          border: solid 2px white;
          display: block;
          margin-top: 15px;
        }
  
  
        &:hover img {
          content: url('../img/Gif/atl0.gif');
          max-width: 100%;
        }
  
        }



    }

    .navigation {

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 220%;
      margin-top: -480px;

      button {
        background: transparent;
        border-radius: 100%;
       
        margin: 0 5px;
      }
    }



button .Next {
  background-image: url('../img/arrow/next.png');
 background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-bottom: 90px;
  justify-content: center;
}
  
button .Prev {
  background-image: url('../img/arrow/prev.png');
 background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin-bottom: 90px;
  justify-content: center;
}
  
